h1 {
  color: #438669;
  text-align: left;
  font-family: futura;
}

h2 {
  font-style: italic;
  text-align: left;
  font-family: futura;
}

p {
  font-family: futura;
  font-size: 15px;
  text-align: left;
}

ul {
  font-size: 15px;
  line-height: 20px;
  font-famiy: futura;
  text-align: left;
}
